/* style.css */

body {
background-color: lightpink;
}

h1 {
font-family: arial, sans-serif;
}

#siteDescription {
display: none;
}

#navigation {
width: 30%;
float: right;
display: block;
  background-color: #ffffff;
padding: 1rem;
  margin-top: 4rem;
}

#pageContent {
width: 40%;
display: block;
background-color: #ffffff;
padding: 1rem;
}
