/* style.css */

body {
background-color: lightpink;
}

h1 {
font-family: arial, sans-serif;
}

a {
color: #fff;
background-color: darkblue;
padding: 1rem;
margin: 1rem;
border: 2px solid yellow;
}

a:hover {
cursor: pointer;
scale: 1.2;
}

#siteDescription {
display: none;
}

#navigation {
width: 30%;
float: right;
display: block;
background-color: #ffffff;
padding: 1rem;
margin-top: 4rem;
}

#pageContent {
width: 40%;
display: block;
background-color: #ffffff;
padding: 1rem;
}
